{% extends "base.html" %}
{% block content %}

<h1>All Fights</h1>
<button onclick="window.location.href='{{ url_for('create_fight_form') }}'">Create New Fight</button>
{% if message %}
    <div class="alert alert-warning">{{ message }}</div>
{% endif %}

<table>
    <thead>
        <tr>
            <th>Fight</th>
            <th>Red Corner</th>
            <th>Blue Corner</th>
            <th>Rounds</th>
            <th>Division</th>
            <th>Winning Method</th>
            <th>Card</th>
            <th>Favorite</th>
            <th>Winner</th>
            <th>Round Finish</th>
        </tr>
    </thead>
    <tbody>
        {% for fight in fights %}
        <tr>
            <td>
                <a href="{{ url_for('get_fight', id=fight.id) }}">
                    {{ fight.red_fighter.name }} vs {{ fight.blue_fighter.name }}
                </a>
            </td>
            <td>{{ fight.red_fighter.name }}</td>
            <td>{{ fight.blue_fighter.name }}</td>
            <td>{{ fight.rounds.value }}</td>
            <td>{{ fight.division.value }}</td>
            <td>{{ fight.method.value }}</td>
            <td>
              <a href="{{ url_for('get_card', id=fight.card) }}">
                {{ fight.card }}
              </a>
            </td>
            <td>{{ fight.favorite_fighter.name }}</td>
            <td>{{ fight.winner_fighter.name }}</td>
            <td>{{ fight.round_finish }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    h1 {
        text-align: center;
    }

    table {
        margin: 0 auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 20px;
        text-align: center;
    }

    th {
        text-align: center;
        font-size: large;
        font-weight: medium;
        color: #0b6623;
    }

    button {
        cursor: pointer;
    }
</style>
{% endblock %}
