<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}uTracker{% endblock %}</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('list_fights') }}">Fights</a> |
                <a href="{{ url_for('list_fighters') }}">Fighters</a>
            </nav>
            <hr />
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer>
            <hr />
            <p>uTracker &copy; {{ current_year }}</p>
        </footer>
    </body>
</html>
