<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}uTracker{% endblock %}</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('list_fights') }}">Fights</a> |
                <a href="{{ url_for('list_fighters') }}">Fighters</a> |
                <a href="{{ url_for('list_cards') }}">Cards</a>
            </nav>
            <hr />
        </header>

        <main>
            {% block content %}
                <h1>Welcome to uTracker</h1>
            {% endblock %}
        </main>

        <footer>
            <hr />
            <p>uTracker &copy; {{ current_year }}</p>
        </footer>
    </body>
</html>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    a {
        margin: 10px;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1; 
    }

    footer {
        text-align: center;
    }
</style>
